.action-button {
  background-color: var(--accent-light-color);
  color: var(--secondary-color);
  white-space: nowrap;
  border: none;
  border-radius: 5px;
  padding: 8px 32px;
  margin-top: 48px;
  font-size: 1em;
  font-weight: 400;
  cursor: pointer;
  border: 3px solid var(--accent-light-color);

  /* animation */
  -webkit-transition: all .5s ease; 
  -moz-transition: all .5s ease; 
  -o-transition: all .5s ease; 
  -ms-transition: all .5s ease; 
  transition: all .5s ease;
}

.action-button:hover {
  background-color: transparent;
}