.footer {
  color: var(--secondary-color);
  background-color: var(--darkgrey-color);
}

.footer-item {
  display: flex;
  flex-direction: column;
}

.footer-item h3 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 32px;
}

.footer-item > *:not(:first-child) {
  margin-top: 8px;
}