#footer-row-one {
  text-align: center;
}

#footer-row-two {
  text-align: center;
}

@media only screen and (min-width: 768px) {

  #footer-row-one {
    text-align: left;
  }

  #footer-row-one > div {
    display: flex;
    justify-content: flex-start;
  }

  #footer-row-one > div > h3 {
    flex: 1;
  }
  
  
  #footer-row-one ul {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0;
  }

  #footer-row-one li {
    width: 25%;
    display: flex;
    align-items: center;
  }
   
  #footer-row-two {
    text-align: left;
  }

  #footer-row-two h3 {
    margin-bottom: 50px;
  }

  #footer-row-two > div {
    display: flex;
  }

  #navigation-group {
    width: 25%;
  }

  #navigation-group li {
    margin-bottom: 10px;
  }

  #services-group {
    width: 75%;
  }

  #services-group li {
    margin-bottom: 10px;
  }

  #services-group ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .footer-li-group {
    width: 25%;
    display: flex;
    flex-direction: column;
  }

}