.cards-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-columns: minmax(100px, 150px);
  gap: 25px;
  justify-items: center;
}

.review-grid {
  margin-top: 64px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 64px;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
}

.menu-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px 64px;
}



@media only screen and (min-width: 768px) {
  .review-grid {
    margin-top: 64px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
  }

  .menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px 64px;
  }

  .footer-grid {
    width: fit-content;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
  }
}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1280px) {

}