.header {
  width: 100%;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
}

.logo {
  padding: 16px;
  width: 150px;
  height: auto;
}

.end {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}