@import url('../components/header.css');
@import url('../components/navbar.css');
@import url('../components/footer.css');

#portrait {
  position: relative;
  object-fit: cover;
  border-radius: 100%;
  width: 250px;
  height: 250px;
  margin: auto;
}

#blob {
  position: absolute;
  filter: opacity(0.65);
  width: 375px;
  padding-right: 37px;
}