@import url('../components/header.css');
@import url('../components/navbar.css');
@import url('../components/jumbo.css');
@import url('../components/footer.css');
@import url('../components/button.css');

.phone {
  font-size: 24px !important;
}

.contact-detail {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#contact-info {
  grid-area: contact;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "contact"
    ".";
}

@media only screen and (min-width: 768px) {
  .contact-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    ". contact";
  }
}

#form-card {
  box-shadow: 0px 0px 30px 0px rgba(0,0,0, 10%);
  padding: 48px;
}

form > * {
  font-family: "Poppins", sans-serif;
}

input:not([type='submit']), textarea {
  background-color: var(--light-color);
  width: 100%;
  box-shadow: -3px 0px var(--accent-color);
  padding: 8px;
  border: none;
}

input[type='submit'] {
  cursor: pointer;
  width: 100%;
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  padding: 8px;
  background-color: transparent;
}

input[type='submit']:hover {
  color: white;
  background-color: var(--accent-color);
}