@import url('../components/header.css');
@import url('../components/navbar.css');

#hero {
    background-image: url('./../../assets/hero.png');
    background-position: center;
    background-size: cover;
    text-align: center;
}

#hero h1 {
    margin-top: 0;
}

.blackbox {
    background-color: rgba(0,0,0,.5);
    padding: 36px;
    border-bottom: 8px solid var(--accent-color);
}

.gallery-thumbnail {
    width: 100vw;
}