@import url('../components/header.css');
@import url('../components/navbar.css');
@import url('../components/jumbo.css');
@import url('../components/footer.css');
@import url('../components/button.css');

.hero {
  height: 1000px;
}

.hero > .content {
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .hero > .content {
    text-align: left;
  }
}

@media only screen and (min-width: 1024px) {
  .hero > .content {
    justify-content: space-between;
  }

  .hero {
    height: 800px;
  }
}

.hero-title {
  color: #D1D1D1;
  font-size: 96px;
  margin: 0;
}

.hero-sub-title {
  color: #D1D1D1;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  margin: 0;
}

#hero-image {
  padding-top: 64px;
  width: 100%;
  height: 100%;
  max-width: 500px;
}

#divider {
  position: relative;
  top: -1px;
}

.action-button {
  position: relative;
  margin-top: 64px;
}

.services {
  position: relative;
  overflow: hidden;
}

#hexagon-one {
  position: absolute;
  left: -200px;
  top: 50px;
}

#hexagon-two {
  position: absolute;
  right: -275px;
  bottom: 100px;
}

.feature-item img {
  width: 100px;
  height: auto;
}

.feature-item h4 {
  margin-top: 16px;
}

.feature-grid {
  margin-top: 96px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 64px;
}

@media only screen and (min-width: 768px) {
  .feature-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.details-grid {
  margin-top: 96px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 64px;
}

.detail {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.detail:nth-child(odd) {
  margin-left: auto;
}

.detail img:nth-child(even) {
  margin-left: 16px;
}

.detail img:nth-child(odd) {
  margin-right: 16px;
}

.detail h4 {
  font-size: 32px;
  margin: 0 0 16px;
}

.detail p {
  margin: 0;
}

.package-grid {
  margin-top: 96px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 64px;
}

@media only screen and (min-width: 768px) {
  .package-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.package-card {
  justify-self: center;
  width: 100%;
  max-width: 400px;
  padding: 32px;
  border-radius: 10px;
}

.package-card h4 {
  margin: 0;
  font-weight: 700;
}

.package-card .plus-sign {
  font-size: 24px;
}

.package-card .paragraph-two {
  line-height: 2;
}

.package-card span {
  font-family: 'Poppins' sans-serif;
  letter-spacing: 4px;
  font-size: 11px;
  font-weight: 700;
  text-align: center;
}

.package-card .pricing {
  width: 100%;
  justify-content: space-evenly;
}

.who-grid {
  margin: auto;
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 96px;
}

#about-me {
  margin: auto;
}

#portrait {
  object-fit: cover;
  justify-self: center;
  border-radius: 100%;
  width: 250px;
  height: 250px;
}