@import url('../components/header.css');
@import url('../components/navbar.css');
@import url('../components/footer.css');
@import url('../components/button.css');
@import url('../components/copyright.css');

h3 {
  margin-top: 0;
  margin-bottom: 48px;
}

.action-button {
  margin-bottom: 48px;
}

.service {
  padding-top: 48px;
  padding-bottom: 48px;

  display: flex;
  flex-direction: column;

  text-align: center;
}

.service-title {
  display: flex;
  flex-direction: column;
}

.service:not(:first-child) {
  border: none;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, orange, red);
  border-top: 6px solid;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
}

@media only screen and (min-width: 768px) {
  .service {
    flex-direction: row;
    text-align: left;
  }

  .service:nth-child(even) {
    flex-direction: row-reverse;
    text-align: right;
  }

  .service-title {
    padding-right: 96px;
    text-align: right;
  }

  .service:nth-child(even) .service-title {
    padding-left: 96px;
    text-align: left;
  }
}