@import url('../components/header.css');
@import url('../components/navbar.css');
@import url('../components/footer.css');

#hero {
    background-image: url('./../../assets/hero.png');
    background-position: center;
    background-size: cover;
    text-align: center;
}

#hero h1 {
    margin-top: 0;
}

.blackbox {
    background-color: rgba(0,0,0,.5);
    padding: 36px;
    border-bottom: 8px solid var(--accent-color);
}

.img-left {
    border-radius: 15px;
    position: relative;
    left: -20px;
    height: 150px;
    box-shadow: var(--shadow);
    object-fit: cover;
}

.img-right {
    border-radius: 15px;
    position: relative;
    right: -20px;
    height: 150px;
    box-shadow: var(--shadow);
    object-fit: cover;
}

.service-title-mobile {
    text-align: center;
    margin-bottom: 24px;
}

.divider {
    background: var(--accent-color);
    opacity: 50%;
    width: calc(100% - 24px * 2);
    margin: 48px auto;
    height: 6px;
    border-radius: 15px;
}

.service-title-desktop {
    display: none;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .service-title-mobile {
        display: none;
    }

    .service-title-desktop {
        text-align: center;
        margin-bottom: 24px;
        display: block;
    }
    
    .blackbox {
        width: 75%;
        text-align: left;
    }

    .service {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .img-right, .img-left {
        height: 300px;
    } 

    .img-right {
        grid-row: 1;
        grid-column: 2;
    }

    .btn {
        margin-top: 24px;
    }

    #cta-banner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #cta-banner > h2 {
        display: flex;
    }

    #cta-banner > button {
        width: 250px;
        min-width: 250px;
        flex-wrap: wrap;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}