
:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --accent-color: #096ED8;
  --accent-dark-color: #074F9D;
  --accent-light-color: #288BF6;
  --darkgrey-color: #151515;
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-accent {
  background-color: var(--accent-color);
}
.bg-accent-dark {
  background-color: var(--accent-dark-color);
}
.bg-accent-light {
  background-color: var(--accent-light-color);
}

.bg-dark {
  background-color: var(--darkgrey-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-primary {
  color: var(--primary-color);
}

.text-accent {
  color: var(--accent-color);
}

.text-dark {
  color: var(--darkgrey-color);
}