
:root {
  --primary-color: #000000;
  --secondary-color: #FFFFFF;
  --grey-color: #777777;
  --light-color: #f6f6f6;
  --dark-color: #1A1A1A;
  --accent-color: #FFD600;
  --shadow: 0 0 15px 3px rgb(0 0 0 / 9%);
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-grey {
  background-color: var(--grey-color);
}

.bg-light {
  background-color: var(--light-color);
}

.bg-dark {
  background-color: var(--dark-color);
}

.bg-accent {
  background-color: var(--accent-color);
}

.text-primary {
  color: var(--primary-color) !important;
}

.text-secondary {
  color: var(--secondary-color) !important;
}

.text-grey {
  color: var(--grey-color) !important;
}

.text-light {
  color: var(--light-color) !important;
}

.text-dark {
  color: var(--dark-color) !important;
}

.text-accent {
  color: var(--accent-color) !important;
}