@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

:root {
  --primary-font: 'Montserrat', sans-serif;
  --secondary-font: 'Poppins', sans-serif
}

* {
  font-family: var(--secondary-font); 
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--primary-font);
}

p {
  font-family: var(--secondary-font); 
 }

.hero-heading {
  font-size: 96px;
  font-weight: 700;
}

.page-heading {
  font-size: 72px;
  font-weight: 500;
}

.sub-page-heading {
  font-size: 48px;
  font-weight: 300;
}

.body-heading {
  font-size: 24px;
  font-weight: 700;
}

.paragraph-xl {
  font-size: 32px;
  font-weight: 400;
}

.paragraph-la {
  font-size: 24px;
  font-weight: 400;
}

.paragraph-md {
  font-size: 16px;
  font-weight: 400;
}

.paragraph-sm {
  font-size: 12px;
  font-weight: 400;
}

.button-solid {
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 500;
  background-color: var(--accent-color);
  color: var(--primary-color);
  border: 2px solid var(--accent-color);
  padding: 12px 16px;
  cursor: pointer;
}

.button-solid:hover {
  filter: brightness(80%);
}

.button-outline {
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  color: var(--primary-color);
  border: 2px solid var(--accent-color);
  padding: 12px 16px;
  cursor: pointer;
}

.button-outline:hover {
  filter: brightness(80%);
}

