@import url('./colors.css');
@import url('./theme.css');

/* Gutters */

.gutter {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

@media only screen and (min-width: 768px) {
  .gutter {
    max-width: 1200px;
    margin: auto;
  }
}

/* Images */

.parallax-bg-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 30vh;
  background-color: var(--accent-color);
}

.fullscreen-bg-img {  
    min-height: 100vh;
    background-image: url('../../assets/jumbo.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.background-img {
  background-position: center;
  background-size: cover;
}

.img-round {
  border-radius: 100%;
}

/* Flex */

.d-flex-col {
  display: flex;
  flex-direction: column;
}

.d-flex-row {
  display: flex;
  flex-direction: row;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

/* Margin and Padding */

.padding-top {
  padding-top: 72px;
}

.padding-right {
  padding-right: 72px;
}

.padding-left {
  padding-left: 72px;
}

.padding-bottom {
  padding-bottom: 72px;
}

.padding-y {
  padding-top: 72px;
  padding-bottom: 72px;
}

.margin-right {
  margin-right: 16px;
}

.margin-left {
  margin-left: 16px;
}

.margin-top {
  margin-top: 16px;
}

.margin-bottom {
  margin-bottom: 16px;
}

.margin-0 {
  margin: 0;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

/* Sizing */

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.h-100 {
  height: 100%;
}

.h-75 {
  height: 75%;
}

.h-50 {
  height: 50%;
}

.h-25 {
  height: 25%;
}

/* Text Appearance */

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-bold {
  font-weight: 700;
}